.createKeywordRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-100 {
    max-width: 100px;
}

.width-4 {
    width: 33.3%;
}
.width-6 {
    width: 50%;
}

.marginTop-30 {
    margin-top: 30%;
}

.padding-horizontal {
    padding-left: 10;
    padding-right: 10;
}
